
.tableHeader {
    background-color: lightgrey;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    min-height: 35px;
    font-family: sans-serif;
    font-weight: bold;
}

p {
    margin: 0 0;
}

.tableContent {
    border-bottom: 1px solid gray;
}

.image {
    height: 50px;
}

.isFlex {
    display: flex;
}

.alignItemsCenter {
    align-items: center;
}

.justifyContentFlexStart {
    justify-content: flex-start;
}

.justifyContentCenter {
    justify-content: center;
}

.justifyContentFlexEnd {
    justify-content: flex-end;
}

.buttonMarginTop {
    margin-top: 20px;
}

@media only screen and (max-width: 576px) {
    .tableHeader {
        display: none;
    }
}




