
.usersListTable {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    background-color: lightgrey;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    height: 35px;
    text-align: center;
    vertical-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.tableContent {
    border-bottom: 1px solid gray;
}

.imageColl {
    width: 35px;
}

.tableContent .imageColl {
    background-image: url('./avatar.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.textColl {
    width: 30%;
    height: 35px;
    text-align: center;
}

.buttonsColl {
    text-align: right;
}





