.TablePageContent {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.ModalBackground {
    display: block;
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}