.ModalBackground {
    z-index: 19;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
}

.ModalWindowField {
    background-color: white;
    width: 400px;
    max-width: 100%;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.AddPersonButton {
    margin: 10px 0;
    display: block;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    font-size: 14px;
    height: 35px;
    border-radius: 10px;
    border-width: 0;
}

.AddPersonButton:hover {
    background-color: deepskyblue;
}

.ContentField {
    padding: 10px 0;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
}

.header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: gray;
    color: white;
    height: 30px;
    padding-left: 10px;
}

h1 {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.InputField {
    padding-left: 10px;
    padding-right: 20px;
}

.InputFistName,
.InputSecondName {
    width: 100%;
    height: 20px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

.Input::placeholder {
    padding-left: 3px;
}

.SaveButton {
    cursor: pointer;
    margin-left: auto;
    display: block;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    font-size: 12px;
    height: 25px;
    width: 90px;
    border-radius: 5px;
    border-width: 0;
}

.SaveButton:hover {
    background-color: deepskyblue;
}

