.ModalWindowField {
    background-color: white;
    width: 400px;
    max-width: 100%;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.AddPersonButton {
    display: block;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    font-size: 14px;
    height: 35px;
    border-radius: 10px;
    border-width: 0;
}

.ContentField {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
}

h1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: gray;
    color: white;
    height: 20px;
    text-align: left;
    padding-left: 10px;
    vertical-align: center;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.InputField {
    padding-left: 10px;
    padding-right: 20px;
}

.Input {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.Input::placeholder {
    padding-left: 3px;
}

.SaveButton {
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    font-size: 12px;
    height: 25px;
    width: 90px;
    border-radius: 5px;
    border-width: 0;
}

.SaveButton:hover {
    background-color: deepskyblue;
}

.BackToMainLink {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 5px
}

.ModalBackground {
    background-color: red;
    width: 300%;
}